/*Add font styles for everything*/
/* Responsive design, media query, font size*/

.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition:
    visibility 0s,
    opacity 0.3s linear;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  /*min-width: 300px;*/
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
  position: relative;
  padding: 32px 50px 32px 50px;
  width: 90%;
}

.modal__close-btn {
  position: absolute;
  top: 20px;
  right: 50px;
  bottom: 328;
  left: 640;
  width: 40px;
  height: 40px;
  opacity: 0.4;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #212121;
  transition: opacity 0.2s ease;
  background-image: url(../images/close.icon.svg);
}

.modal__close-btn:hover {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.modal__title {
  margin: 0 0 32px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: Medium;
  line-height: 100%;
  letter-spacing: 0%;
  width: 149px;
  height: 32px;
  font-size: 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 630px;
  height: 270px;
}

.modal__label {
  /*color: #21212166;*/
  color: #212121b2;
  width: 85;
  height: 18;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
}

.modal__input {
  margin: 8px 0 32px 0;
  width: 90%;
  width: 630px;
  height: 52px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 1;
  padding: 16px 12px 16px 12px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  box-sizing: border-box;
  gap: 10px;
  /*boarder padding*/
}

.modal__input::placeholder {
  color: #2121214d;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.modal__submit-btn {
  max-width: 156px;
  height: 52;
  border-radius: 8px;
  padding-top: 18px;
  padding-right: 32px;
  padding-bottom: 18px;
  padding-left: 32px;
  gap: 8px;
  background: #212121;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fcf5e5;
}

@media screen and (max-width: 627px) {
  .modal__submit-btn {
    max-width: none;
    width: 100%;
    height: 52;
    border-radius: 8px;
    padding: 18px 32px 18px 32px;
    gap: 8px;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 300px) {
  .modal__container {
    /*padding-left: 10px;
    padding-right: 10px;*/
    width: 90%;
    height: 336px;
    top: 134px;
    left: 10px;
    border-radius: 8px;
    padding: 12px;
    gap: 24px;
    opacity: 1;
    box-sizing: border-box;
  }
}
